/* header styles
------------------------------ */ 
header {
  background-color: rgb(64, 64, 64);
  height: 99px;
  .navbar {
    margin: 0 auto;
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width:  1170px;
    color: white;
  }
  .navbar__items {
    img {
      width: 134px;
      height: 85px;
    }
    ul {
      display: flex;
      align-self: flex-end;
      li {
        padding: 0px 20px;
      }
    }
  }
  .logo {
    width: fit-content;
  }
  #search-icon {
    background: none;
    border: none;
    color: rgb(201, 163, 107);
  }
  .navbar__link-toggle {
    display: none;
  }
  a {
    font-size: 16px;
    padding-top: 36px;
    color: rgb(255,255,255);
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    }
  li:after {
    display: block;
    // position: absolute;
    content: '';
    height:  5px;
    margin-top: 26px;
    transform: scaleX(0.0001);  
    transition: transform 250ms ease-in-out;
    background: linear-gradient(to right, rgb(202, 146, 59) , rgb(218, 178, 120));
  }
  li:hover:after {
    transform: scaleX(1.3);
  }
}

/* Header on mobile screen */ 
@media only screen and (max-width: 768px) {
  header {
    display: block;
    .navbar__items,
    .navbar, ul {
      flex-direction: column;
      align-self: flex-start;
      
    }
    .navbar__items {
      display:none;
    }
    .navbar__link-brand{
      margin-left: 10px;
    }
    .navbar__toggleShow {
      display: flex;
    }
    .navbar__link-toggle {
      font-size: 16px;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      top: 44px;
      right: 10px
     }
     .logo {
       margin-right: 300px;
     }
     #search-icon {
      font-size: 16px;
      position: absolute;
      cursor: pointer;
      display: initial;
      right: 70px;
      top: 45px;
     }
  }
}